
.text-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    font-size: 1.3em;
}

.page img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.page-container{
    position: absolute;
    width: 95%;
    height: 98%;
    margin-top: 10px;
    box-sizing: border-box;
    transform-origin: center left;
    transform-style: preserve-3d;
    transition-duration: 1.5s;
    perspective: 1000px;
}
.front-page, .back-page {
    position: absolute;
    background-image: url("/page.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden; /* Evita o flicker durante a animação */
}
.back-page {
    transform: rotateY(-180deg);
    /* Remova z-index: -1; para garantir que a parte traseira da página seja visível */
}

.page-container.flipped .back-page {
    z-index: 1; /* Ajusta o z-index da parte traseira quando a página está virada */
}

.front-page > .text-area > .next{
    position: absolute;
	right: 5px;
    bottom: 1em;
    margin: 10px;
    cursor: pointer;
}
.back-page > .text-area > .next{
    transform: rotateY(-180deg);
    position: absolute;
	left: 5px;
    bottom: 1em;
    margin: 10px;
    cursor: pointer;
}
#showCardsText{
    background-color: none;
    width: 100%;
    cursor: pointer;
}
.flipped{
    transform: rotateY(-180deg);
}