html, body {
  height: 100%;
}
body {
  background-color: #2e3537;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neucha', cursive;
}

a {
  text-decoration: underline;
  color: black;
}