html, body {
  height: 100%;
}
body {
  background-color: #70787a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neucha', cursive;
}

a {
  text-decoration: underline;
  color: black;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2E3537;
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb {
  background-color: #505d61; 
  border-radius: 20px;
}